:root {
  --ceramic: #fffefa;
  --amaranth: #e8234d;
  --crimsonGlory: #c0002b;
  --rhino: #2c3964;
  --cloudBurst: #202b4c;
  --pastelBlue: #b3c8d3;
  --darkPastelBlue: #7e90c9;
  --floralWhite: #fffcf1;
  --atoll: #0e6f73;
  --silverSand: #c3c3c3;
  --malibu: #59bcd4;
  --bostonBlue: #3e8daf;
  --oracle: #006e74;
  --blueZodiac: #152a48;
  --silverAge: "Silver Age";
  --strangeTales: "Strange Tales";
}

@font-face {
  font-family: "Strange Tales";
  src: url("../fonts/Strange\ Tales.ttf");
}

@font-face {
  font-family: "Silver Age";
  src: url("../fonts/Silver\ Age\ Queens.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--blueZodiac) url("../img/plaid.png") center top repeat;
}

.header {
  position: relative;

  width: 100vw;
  padding-bottom: 20px;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  padding: 10px 20px;
  background: var(--rhino);
}

.content {
  position: absolute;
  transform: skewY(-9deg);

  text-align: center;
}

.illustration {
  width: 100vw;
}

.advent,
.javascript {
  color: var(--ceramic);
  font-family: var(--strangeTales);
  font-size: 8.75rem;
  font-weight: normal;
  line-height: 1.2;

  text-transform: uppercase;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  color: var(--amaranth);
  font-family: var(--silverAge);
  font-size: 2.25rem;
  font-weight: normal;

  margin-bottom: 10px;
}

h3 {
  color: var(--ceramic);
  font-family: var(--silverAge);
  font-size: 2.75rem;
  font-weight: normal;

  text-transform: uppercase;

  background: var(--oracle);
  display: inline-block;
  padding: 20px 25px 10px 25px;
  margin-bottom: 10px;
}

h4 {
  color: var(--ceramic);
  font-family: var(--silverAge);
  font-size: 1.5rem;
  font-weight: normal;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

h4 span {
  margin-top: 12px;
}
